<mat-card>
  <h1>All User</h1>



  <div *ngIf="dataSource">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Filter By Username</mat-label>
        <input matInput type="text" name="filterName" [(ngModel)]="filterUsername" (input)="findByName()"/>
      </mat-form-field>
    </form>
    <mat-table [dataSource]="dataSource?.items" class="mat-elevation-z8">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns" routerLink="/admin/users/{{row.id}}"></mat-row>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
      </ng-container>

    </mat-table>
  </div>


  <mat-paginator [length]="dataSource?.meta.totalItems"
  [pageSize]="dataSource?.meta.itemsPerPage"
  [pageSizeOptions]="[2,10,20,50]"
  (page)="pageEvent = $event; onPaginateChange($event)"
  aria-label="Select page">
  </mat-paginator>

</mat-card>
