<mat-card>
  <div *ngIf="user" class="main-div">
    <mat-card-header>

      <div class="header-image"><img src="http://localhost:3000/api/user/profile-image/{{user.profileImage}}"
          class="image-height" /></div>
    </mat-card-header>

    <mat-card-title>Username: {{user.username}}</mat-card-title>
    <mat-card-subtitle>Name: {{user.name}}</mat-card-subtitle>
    <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
    <mat-card-subtitle>Role: {{user.role}}</mat-card-subtitle>

  </div>

</mat-card>
