<form>
  <div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">Recipe Book</mat-toolbar>
      <mat-card>
        <form [formGroup]="registerForm" #hassError="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field>

            <input autofocus type="text" matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input autofocus type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input autofocus type="text" matInput placeholder="Username" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <input type="password" autocomplete="false" matInput placeholder="ConfirmPassword" formControlName="passwordConfirm">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">LOGIN</button>
        </form>

        <span> If You don't have a account yet please <a routerLink='/register'>REGISTER HERE</a></span>


        <span *ngIf="registerForm.hasError('passwordNotMatch')"> </span>



      </mat-card>
    </div>
  </div>
